<div class="card rounded shadow-sm">
  <form>
    <div class="p-3">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>ID</label>
          <input type="text" class="form-control" formControlName="id" placeholder="Insira um UUID">
        </div>
        <div class="form-group col-md-6">
          <label>Nome</label>
          <input type="text" class="form-control" formControlName="nome" placeholder="Insira o nome do profissional">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-8">
          <label>Imagem URL</label>
          <input type="text" class="form-control" formControlName="imagem" placeholder="Insira a url da imagem">
        </div>
        <div class="form-group col-md-4">
          <label>Instagram</label>
          <input type="text" class="form-control" formControlName="instagram" placeholder="Insira o @ do profissional">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label>Telefone</label>
          <input type="text" class="form-control" formControlName="telefone" placeholder="(00) 90000-0000">
        </div>
        <div class="form-group col-md-8">
          <label>e-mail</label>
          <input type="text" class="form-control" formControlName="email" placeholder="e-mail">
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex">
        <button class="btn btn-outline-secondary mr-auto border">
          Cancelar Alteração
        </button>
        <button class="btn btn-success">
          <!-- <span class="spinner-border spinner-border-sm mr-1"></span> -->
          Salvar Evento
        </button>
      </div>
    </div>
  </form>
</div>
