
<div class="row mt-4">
  <div class="col-md-6 d-none d-md-block">
    <img src="https://cf.shopee.com.br/file/cba4a8603f1af03af83597d02ccbf217">
  </div>
  <div class="col-md-6">
    <h1 class="contato">Contatos:</h1>
    <div class="telefone my-3">
      <h5 class="fa fa-phone ml-5"> (83) 3234-2221</h5>
    </div>
    <div class="telefone">
      <h5 class="fa fa-mobile-screen ml-5"> (83) 99865-1432</h5>
    </div>
    <div class="email my-3">
      <h5 class="fa-solid fa-envelope ml-5"> barbershop_oficial@gmail.com</h5>
    </div>
    <h1 class="endereco mt-5">Endereço:</h1>
    <div class="telefone my-3">
      <h5 class="fa fa-shop ml-5"> Av. Edson Ramalho 696 - Manaira</h5>
    </div>
    <div>
      <img class="i ml-5" src="https://static.wixstatic.com/media/75b412_8557a746fa2b4f5ea586836944d832ab~mv2.gif">
    </div>
  </div>
</div>
