<h2>Profissionais</h2>
<hr>

<div action="" class="form-inline">
  <div class="form-group mb-2">
    <label class="mr-2">Filtro: </label>
    <input type="text" class="form-control mr-2"placeholder="buscar"
    [(ngModel)]="filtroLista">
  </div>
</div>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>
        <button class="btn btn-outline-light btn-sm"
        (click)="alterarImg()">
        <i class="{{!exibirImg ? 'fa fa-eye' : 'fa fa-eye-slash'}}"></i>
          {{!exibirImg ? 'Exibir' : 'Ocultar'}}
        </button>
      </th>
      <th>Nome</th>
      <th>Instagram</th>
      <th>Telefone</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="profissionais && profissionais.length" >
    <tr *ngFor="let profissional of profissionaisFiltrados">
      <td>
        <img [collapse]="!exibirImg"
          [isAnimated]="true"
          class = "fotos" src="/assets/{{ profissional.imagemURL }}" alt="" tooltip="ID: {{ profissional.id }}"
          [style.width.px]="larguraImg"
          [style.margin.px]="margemImg"
          [style.border-radius.px]="bordasImg"
        >
      </td>
      <td>{{ profissional.nome }}</td>
      <td>{{ profissional.instagram }}</td>
      <td>{{ profissional.telefone }}</td>
      <button type="button" class="btn btn-success btn-sm mr-2 mt-2">
        <i class="fa fa-edit"></i>
        Editar
      </button>
      <button type="button" class="btn btn-danger btn-sm mt-2" (click)="openModal(template)">
        <i class="fa fa-trash"></i>
        Excluir
      </button>
    </tr>
  </tbody>
  <tfoot  *ngIf="!profissionais.length">
    <tr>
      <td colspan="8" class="text-center">
        <h5>Nunhum Profissional encontrado!</h5>
      </td>
    </tr>
  </tfoot>
</table>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Tem certeza que quer excluir este Profissional?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
  </div>
</ng-template>
